<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.observerapp.mobile.appforobserver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        /home/gv/AndroidStudioProjects/AppForObserver
        <activity android:name=".login000">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".gLogin_option" />
        <activity android:name=".terms_and_condition_1" />
        <activity android:name=".Guide1Activity" />
        <activity android:name=".Guide2Activity" />
        <activity android:name=".Guide3Activity" />
        <activity android:name=".Guide4Activity" />
        <activity android:name=".Guide5Activity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".register000" />
        <activity android:name=".Login" />
        <activity android:name=".Detail1Activity" />
        <activity android:name=".Detail2Activity" />
        <activity android:name=".Detail3Activity" />
        <activity android:name=".Detail4Activity" />
    </application>

</manifest>